:root {
  --wc-color-primary: #207de9;
  --wc-color-secondary: #405cf9;
  --wc-color-accent: #5af5cf;
  --wc-color-natural0: #213547;
  --wc-color-natural100: #121f2b;
  --wc-color-natural200: #182530;
  --wc-color-natural900: rgba(255, 255, 255, 0.87);
  --wc-radius: 8px;
  --wc-shadow: 0 0 8px rgb(0 0 0 / 0.05);
  --wc-break-lg: 960px;
  --wc-space-sm: 0.25rem;
  --wc-space-lg: 0.5rem;
  --wc-match-max-width: 110px;
  --wc-headings-ff: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;

  font-family: system-ui, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: var(--wc-color-natural900);
  background-color: var(--wc-color-natural100);
  scrollbar-gutter: stable;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    --wc-color-natural0: #fff;
    --wc-color-natural100: #f5f5f5;
    --wc-color-natural200: #ececec;
    --wc-color-natural300: #d6d6d6;
    --wc-color-natural900: #213547;
  }
}

@media (min-width: 960px) {
  :root {
    --wc-space-sm: 0.5rem;
    --wc-space-lg: 2rem;
    --wc-match-max-width: 200px
  }
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
  font-family: var(--wc-headings-ff);
  margin-top: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0 0 2rem 0;
}

a {
  color: var(--wc-color-primary);
  text-decoration: inherit;
}

a:hover {
  color: var(--wc-color-secondary);
}

/* Forms */

.btn {
  border-radius: var(--wc-radius);
  border: 1px solid var(--wc-color-secondary);
  padding: 0.25rem 1rem;
  font-family: system-ui;
  background-color: var(--wc-color-natural100);
  cursor: pointer;
  transition: border-color 0.25s;
}

.btn:hover {
  border-color: var(--wc-color-accent);
}

.btn:focus,
.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.select-ctrl {
  border-radius: var(--wc-radius);
  border: 1px solid var(--wc-color-secondary);
  background-color: var(--wc-color-natural0);
  padding: 0.25rem 1rem;
}

.select-ctrl:hover {
  border-color: var(--wc-color-accent);
}

.form-ctrl {
  border-radius: 4px;
  border: 1px solid var(--wc-color-natural300);
}

.form-ctrl:focus {
  outline: 2px solid var(--wc-color-accent);
}

/* Nav */

.nav {
  position: sticky;
  top: 0;
  background: var(--wc-color-natural0);
  border-radius: 0 0 var(--wc-radius) var(--wc-radius);
  box-shadow: var(--wc-shadow);
  z-index: 1;
  text-align: center;
}

.nav ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: inline-flex;
  text-align: center;
  gap: var(--wc-space-sm);
  overflow: auto;
  max-width: 100%;
}

.nav ul li {
  display: inline-block;
}

.nav ul li a {
  display: inline-block;
  padding: 0.5rem;
  white-space: nowrap;
}

/* Main */

#app {
  margin: 0 auto;
  max-width: 1600px;
}

#main {
  padding: var(--wc-space-lg);
  text-align: center;
}

.grid-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--wc-space-sm);
  align-content: start;
}

.card {
  padding: 2em;
}

.matches-list {
  box-shadow: var(--wc-shadow);
  border-radius: var(--wc-radius);
  background-color: var(--wc-color-natural0);
}

/* Utils */

.text-left {
  text-align: left;
}

.text-help {
  cursor: help;
  text-decoration: underline dotted;
}

.text-right {
  text-align: right;
}

.mb-sm {
  margin-bottom: var(--wc-space-sm);
}
